body {
	font-size: 15px;
	line-height: 36px;
	color: black;
	font-weight: normal;
	font-family: OpenSans;
}
h1 {
	font-size: 47px;
	line-height: 120%;
	color: black;
	font-weight: bold;
	font-family: Gilroy;
}
.promo-slider {
	
}
.slider {
	width: 1020px;
	height: 500px;
	overflow: hidden;
	position: relative;
}
.slides {
	display: inline-block;
}
.content {
	width: 500px;
	height: 500px;
	margin-left: 500px;
}
.slides>img {
	position: absolute;
}